{% extends 'admin.html.twig' %}
{% block body %}
    <div class="row">
  <div class="container-fluid">
 <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
    <!-- Content Row -->
     <div class="row">
        <div class="container-fluid">
            <center>
          

            {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

        
            </center>
        </div>
    </div></div>
</div>
{% endblock %}
