{% extends 'user.html.twig' %}

{% block title %} Gestion de stage{% endblock %}

{% block body %}
  <div class="container-fluid">
 <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Formulaire demande de stage</h1>
                       
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                       <div class="container-fluid">
                    </div>
                    </div>
                   
 </div>
{% endblock %}
