{% extends 'user.html.twig' %}

{% block title %} Gestion de stage{% endblock %}

{% block body %}
  <div class="container-fluid">
 <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Procedure de stage</h1>
                       
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                       <div class="container-fluid">
                     <p>
                     La gestion des stages se fait exclusivement sur le site de l'école et vous ne pouvez télécharger les formulaires correspondants qu'une fois votre compte étudiant activé et rempli.

Pour accéder à la base des données de stages contenant toutes les informations utiles à leurs déroulements vous devez posséder un Login et un mot de passe. Le Login c'est le numéro de votre carte d'identité nationale (CIN) et votre mot de passe est le numéro de votre inscription.


Une fois connecté, votre environnement numérique laissera apparaître plusieurs rubriques, entre autre, une rubrique "Stages obligatoires".

La première chose à faire est de télécharger un formulaire de "Demande de stage", personnalisé, que vous présenterez aux entreprises et sociétés susceptibles de vous accepter en stage. Une fois votre "Demande de stage" acceptée vous passez à la rubrique "Déposer stage".

Les informations relatives à l'entreprise d'accueil doivent être saisies, avec le plus grand soin, dans les cases correspondantes. Pour pouvoir télécharger la lettre d'affectation, la direction des stages doit d'abord valider votre dépôt d'acceptation de stage.

La lettre d'affectation doit être officialisée (apposition du cachet et de la signature de la direction des stages) contre la remise à l'administration de l'acceptation de stage.

Il n'est possible de fournir aux étudiants partant en stage qu'une seule lettre d'affectation et il est vivement recommandé de garder constamment une photocopie de tous les documents relatifs aux stages.


Une fiche personnalisée d'évaluation des stages doit être téléchargée en accédant à la rubrique "Stage(s) déposé(s)". Cette fiche doit être remplie par l'encadrant industriel et remise à la direction des stages sans quoi la soutenance de stage ne peut avoir lieu.

Toutes les demandes d'informations peuvent être adressées à la direction des stages par courrier électronique (email) à l'adresse suivante : admin@isetso.rnu.tn
                  </p> 
                    </div>
                    </div>
                    
                   
 </div>
{% endblock %}